{% extends "base.html" %}

{% block title %}Profile Page{% endblock title %}

{% block body %}

<h1>Hello {{request.user}}!</h1>

<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-12 col-xl-4">
  
          <div class="card" style="border-radius: 15px;">
            <div class="card-body text-center">
              <div class="mt-3 mb-4">
                <img src="static\images\logo.jpg"
                  class="rounded-circle img-fluid" style="width: 100px;" />
              </div>
              <h4 class="mb-2">{{request.user}}</h4>
              <p class="text-muted mb-4">@Programmer <span class="mx-2">|</span> <a
                  href="#!">CodePanda.com</a></p>
              
              <button  type="button"  data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-rounded btn-lg" href="/codeEditor">
                Start Programming
              </button>
              <div class="d-flex justify-content-between text-center mt-5 mb-2">
                <div>
                  <p class="mb-2 h5">0</p>
                  <p class="text-muted mb-0">Code Lines Written</p>
                </div>
                <div class="px-3">
                  <p class="mb-2 h5">0</p>
                  <p class="text-muted mb-0">Points</p>
                </div>
                <div>
                  <p class="mb-2 h5">0</p>
                  <p class="text-muted mb-0">Challanges Submitted!</p>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>
{% endblock body %}