{% extends "base.html" %}
{% block title %}Projects Page{% endblock title %}

{% block body%}
<div class="navbar bg-info">
 <p class="fs-1 fw-bold mx-auto p-2 py-1 text-white ">Pandacode Projects </p>
</div>

<div class="container mt-4 em-4 mb-4 sm-4">
    <div class="card d-inline-flex my-4" style="width: 18rem;">
        <img src="static/images/Calculator.jpg" class="card-img-top" alt="Calculator code">
        <div class="card-body">
          <h5 class="card-title">Calculator</h5>
          <p class="card-text">We can create Calculator using Html, CSS and javascript.</p>
          <a href="/calculator" class="btn btn-primary">Go to code</a>
        </div>
      </div>

      <div class="card d-inline-flex ms-4 my-4" style="width: 18rem;">
        <img src="static/images/clock.jpg" class="card-img-top" alt="Clock code">
        <div class="card-body">
          <h5 class="card-title">Clock</h5>
          <p class="card-text">We can create Analog clock using Html, Css and javascript</p>
          <a href="/clock" class="btn btn-primary">Go to code</a>
        </div>
      </div>

      <div class="card d-inline-flex ms-4 my-4" style="width: 18rem;">
        <img src="static/images/Music.jpg" class="card-img-top" alt="Music code">
        <div class="card-body">
          <h5 class="card-title">Music</h5>
          <p class="card-text">Music project contain website for listening music.</p>
          <a href="#" class="btn btn-primary">Go to code</a>
        </div>
      </div>

      <div class="card d-inline-flex ms-4 my-4" style="width: 18rem;">
    <img src="static/images/Coffee.jpg" class="card-img-top" alt="Coffee code">
    <div class="card-body">
      <h5 class="card-title">Coffee</h5>
      <p class="card-text">Coffee code is basically demo page for order coffee website.</p>
      <a href="#" class="btn btn-primary">Go to code</a>
    </div>
  </div>
</div>
{% endblock body%}

