{% extends "base.html" %}
{% block title %}Projects Page{% endblock title %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/projects.css' %}" type="text/css" />
    {% endblock %}

{% block body %}
<div class="container">

  <div class="row">
      <div class="col">
          <div class="card">
              <img src="static/images/Calculator.jpg" alt="Avatar" style="width:100%">
              <div class="container">
              <h4><b>Calculator</b></h4>
              <p>We can creata Calculator using html,css and Java</p>
            </div>
          </div>
      </div>
  
      <div class="col">
          <div class="card">
              <img src="static/images/Coffee.jpg" alt="Avatar" style="width:100%">
              <div class="container">
                  <h4><b>Coffee Code</b></h4>
                  <p>Coffee code is basically demo page for order coffee website.</p>
              </div>
          </div>
      </div>

      <div class="col">
          <div class="card">
              <img src="static/images/Music.jpg" alt="Avatar" style="width:100%">
              <div class="container">
                  <h4><b>Music</b></h4>
                  <p>Music project contain website for listening music.</p>
              </div>
          </div>
      </div>

      <div class="col">
          <div class="card">
              <img src="static/images/clock.jpg" alt="Avatar" style="width:100%">
              <div class="container">
                  <h4><b>Analog Clock</b></h4>
                  <p>Build your own Analog Clock using HTML, CSS, and Javascript</p>
              </div>
          </div>
      </div>
  </div>
{% endblock body %}