{% extends "base.html" %}
{% block title %}Projects Page{% endblock title %}

{% block body%}
<div class="container mt-15px em-10px mb-15px sm-10px">
    <div class="card d-inline-flex" style="width: 18rem;">
        <img src="static/images/Calculator.jpg" class="card-img-top" alt="Calculator code">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card d-inline-flex" style="width: 18rem;">
        <img src="static/images/clock.jpg" class="card-img-top" alt="Clock code">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card d-inline-flex" style="width: 18rem;">
        <img src="static/images/Music.jpg" class="card-img-top" alt="Music code">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card d-inline-flex" style="width: 18rem;">
    <img src="static/images/Coffee.jpg" class="card-img-top" alt="Coffee code">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
{% endblock body%}

